.wrapper_first{
    width : 1300px;
    height: 500px;
    
    margin : 0 auto;
    margin-bottom: 50px;
}
.add{
    width: 700px;
    height : 470px;
    margin : 10px 10px;
    position : relative;
    float: left;
}
.rank{
    width: 550px;
    margin : 10px 10px;
    position : relative;
    float: left;
}
.rank_name {
    height: 60px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.wrapper_second{
    width : 1290px;
    height: 350px;
    margin : 0 auto;
    margin-bottom: 30px;
}

.wrapper_third{
    background-color: #ffffff;
    height: 100px;
    margin : 0 auto;
}


.slider__wrap {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider__img{           /* 이미지 보이는 영역 */
    position: relative;
    width: 690px;
    height: 460px;
    overflow: hidden;
}
.slider__inner{         /* 이미지를 감싸고 있는 부모 : 움직이는 부분 */
    display: flex;
    flex-wrap: wrap;
    width: 5040px;      /* 4000px --> 4800px  : 총이미지가 6개로 변경*/
    height: 460px;
    position: relative;
}
.slider {               /* 개별적인 이미지 */
    position: relative;
    width: 690px;
    height: 450px;
}
.slider::before{
    position: absolute;
    left: 1px;
    top: 1px;
    background: rgba(0,0,0,0.4);
    color:white;
    padding: 1px 10px;
}
.slider__dot {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 20px;
	margin: 2px;
}

.slider__dot .dot {
	display: inline-block;
	width: 20px;
	height: 20px;
	background: rgba(0, 0, 0, 0.4);
	border-radius: 50%;
	text-indent: -9999px;
	transition: all 0.3s;
	margin: 1px;
}


@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(359deg);
	}
}
@keyframes rotate2 {
	0% {
		transform: rotate(359deg);
	}
	100% {
		transform: rotate(0deg);
	}
}
.rank th, .rank td{
    padding : 6.2px 16.1px;
	text-align: center;
}
.prev{
	cursor : pointer;
    position: absolute;
    text-align: center;
    font-size : 30px;
    z-index : 5;   
    text-decoration: none;
    color:black;
    padding: 10px 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;

}
.next{
	cursor : pointer;
    position: absolute;
    text-align: center;
    font-size : 30px;
    z-index : 5;   
    text-decoration: none;
    color:black;
    padding: 10px 20px;
    transition: 0.6s ease;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: #990000;
  color: white;
  text-decoration : none;
}

li{
	list-style-type: none;
}

.schedule{
	padding : 0;
	position: relative;
	transition: left 1s ease-out;
    
}
.schedule li{
	float: left;
    
}

.wrapper_second{
	overflow: hidden;
}

.wrapper_second a{
	margin-top: 190px;
}
.wrapper_second .next{
	margin-left:1233px;
}
.wrapper_second .prev{
    margin-left:1px
}
.wrapper_second p{
	margin : 22px 530px;
	font-weight: bold; 
	font-size:30px; 

}
.wrapper_second img{
	margin : 0 10px 0 0;
}

.tab-schedule li{
    list-style: none;
    float : left;
    }

.tab-schedule li a {
    display: block;
    padding: 18px 34.1px;
    height: 90px;
    line-height: 22px;
    font-size: 11px;
    font-weight: 700;
    text-align: center;
    color: #222;
    float: left;
    text-decoration: none;
    }
.tab-schedule li a:hover {
    color : #fff;
    background: #990000;
    text-decoration: none;
    height: 100px;
} 

.tab-schedule li a span {
    display: block;
}

.wrapper_second{
	margin-bottom: 50px;
}

.wrapper_third img{
	width: 60px;
    height: 48px;
}
.wrapper_third{
    margin-bottom: 50px;
}
.team_link{
    width : 1350px;
    margin : auto auto;
}
.schedule div{
    background-color: #ffffff !important;
    height: 70px;
}
.schedule p{
    padding-top :15px;
}

#hightlightZone {
    margin-bottom: 150px;

}


.thumnail {
    position: relative;
    border: 1px solid #ccc;
    text-align: center;
    width: 50px;
}
.thumnail img {
    width: 250px;
    height: 120px;
}

P{color:#666666}

.movie-list li {
    min-height: 26px;
    margin: 4px 0 6px;
    font-size: 16px;
    color: #222;
    font-weight: 700;
    margin-left: 55px;
}
.movie-list li a {
    display: block;
    width: 206px; 
    height: 102px;
    position: relative;
    border: 1px solid #ccc;
}

section{
    width: 1300px;
    height: 222px;
    margin: auto;
}

.wrapping{
    width: 1300px;
    
}

h4 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

ul {
    display: block;
    list-style:none;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    margin-bottom : 0 !important;
}

li {
    float: left;
}

.tit {
    min-height: 26px;
    margin: 4px 0 6px;
    font-size: 16px;
    color: #222;
    font-weight: 700;
}

li a {
    text-decoration: none;
  }
.rank th{
	background-color : #ffffff;
}