.select{
    width: 80px;
    height: 28px;
}
table tr, td{
    height: 40px;
    
}
th{
background-color: white;
border: 1px solid;
}

.date-select tr{
    height : 50px;
    border-bottom: 1px solid;
    border-color: gray;
}
a:hover{
    color: #222;
    font-weight: bold;
    text-decoration: none;
}
a:visited{
    color: #222;
    font-weight: bold;
    text-decoration: none;
}
a{
<<<<<<< HEAD
    text-decoration: none;
}
=======
    text-decoration: none !important;
    color : black !important;
}

>>>>>>> e028cefd44a61f496d11ca2990e72da5510a93f8
