<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.gss.mapper.GssMapper">
	<!-- 선수 검색 sql 문 -->
	<sql id="search" >
		<if test="type=='name'">
			where name like concat('%', #{keyword}, '%')
			and teamname=#{teamname} and pos=#{pos}
		</if>
	</sql>
	
	<!-- 뉴스 검색 sql 문 -->
	<sql id="newsSearch">
		<if test="type=='writer'">
			where writer like concat('%', #{keyword}, '%')
		</if>
		<if test="type=='title'">
			where title like concat('%', #{keyword}, '%')
		</if>
		<if test="type=='content'">
			where content like concat('%', #{keyword}, '%')
		</if>
	</sql>
	
	<!-- 로그인 SQL 쿼리 작성 -->
	<select id="login" parameterType="kr.gss.entity.Member" resultType="kr.gss.entity.Member">
		select * from tb_member where id = #{id} and pw = #{pw}
	</select>
	
	<!-- 회원가입 SQL 쿼리 작성 -->
	<insert id="join" parameterType="kr.gss.entity.Member">
		insert into tb_member (id, pw, nick, type) values (#{id}, #{pw}, #{nick}, #{type})
	</insert>
	
	<!-- 선수리스트 SQL 쿼리 작성 -->
	<select id="getPList" resultType="kr.gss.entity.Player" parameterType="kr.gss.entity.Criteria">
		select * from tb_player <include refid="search"/>
		order by player_seq asc
		limit #{pageStart}, #{perPageNum}
	</select>
	
	<!-- 선수페이징 -->
	<select id="playerTotalCount" resultType="int" parameterType="kr.gss.entity.Criteria">
		select count(*) from tb_player
		<include refid="search"/>
	</select>
	
	<!-- 뉴슬리스트 SQL 쿼리 작성 -->
	<select id="getNews" resultType="kr.gss.entity.News" parameterType="kr.gss.entity.Criteria">
		select * from tb_news <include refid="newsSearch"/>
		order by number_seq asc
		limit #{pageStart}, #{perPageNum}
	</select>
	
	<!-- 뉴스페이징 -->
	<select id="newsTotalCount" resultType="int" parameterType="kr.gss.entity.Criteria">
		select count(*) from tb_news
		<include refid="newsSearch"/>
	</select>
</mapper>