<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.gss.mapper.GssMapper">
	<!-- 로그인 SQL 쿼리 작성 -->
	<select id="login" parameterType="kr.gss.entity.Member" resultType="kr.gss.entity.Member">
		select * from tb_member where id = #{id} and pw = #{pw}
	</select>
	
	<!-- 회원가입 SQL 쿼리 작성 -->
	<insert id="join" parameterType="kr.gss.entity.Member">
		insert into tb_member (id, pw, nick, type) values (#{id}, #{pw}, #{nick}, #{type})
	</insert>
</mapper>